var config = {};

config.port = 4000;
config.sessionSecret = 'not secret';

// Set to false if the server is not on the campus network
// This will disable AD authentication and LDAP name lookup
config.authenticationEnabled = true;

config.db = {
    development: {
        host: 'localhost',
        database: 'attendance',
        username: 'root',
        password: null,
        socketPath: null,
        logging: console.log
    },
    production: {
        host: 'localhost',
        database: 'attendance',
        username: 'root',
        password: null,
        socketPath: null,
        logging: false
    },
    test: {
        host: 'localhost',
        database: 'attendance_test',
        username: 'root',
        password: null,
        socketPath: null,
        logging: false
    },
};

// Session cookies generated when logging into my.cs.illinois.edu
// Used to fetch i-card photos
config.myCSCookie = {
    aspSessionId: 'ASPSESSIONID*=value',
    portalSession: 'PORTAL%5FSESSION=value'
};

module.exports = config;
