<!DOCTYPE html>
<html>
    <head>
        <title>Attendance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="main"></div>
        <script src="/app.js"></script>
        <script>
            React.renderComponent(
                App({
                    initialUser: <%- user ? JSON.stringify(user) : 'null' %>
                }),
                document.getElementById('main')
            );
        </script>
    </body>
</html>
